nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 22, 22);
    height: 50px;
    width: 100%;
}
li{
    padding: 0px 18px;
}
nav a{
    color: white;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 5px;
}
nav a:hover{
    background-color: rgb(121, 120, 120);
}